// ABOUT SECTION
.about {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;

  &-text {
    color: #fff;
    flex: 2 1 40rem;
    justify-content: space-around;
    background: var(--background-color);

    & div {
      padding: 3rem 8rem;
    }

    & h3 {
      padding: 2rem 0;
      font-family: "Ruhl Medium";
    }

    & h2 {
      font-family: "Vibes";
      padding: 4rem;
    }
  }

  &-image {
    flex: 1 1 40rem;
    position: relative;

    & h5 {
      position: absolute;
      letter-spacing: 2rem;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -20%);
    }

    & img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
